In [2]:
import csv
import re

In [4]:
import numpy as np
import pandas as pd

from pandas import Series

In [80]:
with open('/Users/lily/Documents/school/Data Mining/the-movies-dataset/movies_metadata.csv') as metadata:
    read_metadata = csv.reader(metadata, delimiter=',')
    next(read_metadata)
    
    line = next(read_metadata)
    
    id = line[5]
    title = line[20]
    collection_array = line[1].split(',')
    
    collection_dict = {}
    
    for item in collection_array:
        
    
    print(id)
    print(title)
    print(collection)
    
    
#     for row in read_metadata:
#         id = row[5]
#         title = row[20]
#         collection = row[1]
        
        
#         print(id + "\t" + title + "\t")

862
Toy Story
{'id': 10194, 'name': 'Toy Story Collection', 'poster_path': '/7G9915LfUQ2lVfwMEEhDsn3kT4B.jpg', 'backdrop_path': '/9FBwqcd9IRruEDUrTdcaafOMKUq.jpg'}

In [12]:
article_read = pd.read_csv('/Users/lily/Documents/school/Data Mining/the-movies-dataset/movies_metadata.csv', delimiter=',')

In [27]:
metadata_movies = article_read[['id', 'title', 'original_language', 'genres', 'release_date', 'belongs_to_collection','popularity']]

In [28]:
metadata_movies

,id,title,original_language,genres,release_date,belongs_to_collection,popularity
0,862,Toy Story,en,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",1995-10-30,"{'id': 10194, 'name': 'Toy Story Collection', ...",21.9469
1,8844,Jumanji,en,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",1995-12-15,NaN,17.0155
2,15602,Grumpier Old Men,en,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",1995-12-22,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",11.7129
3,31357,Waiting to Exhale,en,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",1995-12-22,NaN,3.85949
4,11862,Father of the Bride Part II,en,"[{'id': 35, 'name': 'Comedy'}]",1995-02-10,"{'id': 96871, 'name': 'Father of the Bride Col...",8.38752
...,...,...,...,...,...,...,...
45461,439050,Subdue,fa,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,NaN,0.072051
45462,111109,Century of Birthing,tl,"[{'id': 18, 'name': 'Drama'}]",2011-11-17,NaN,0.178241
45463,67758,Betrayal,en,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",2003-08-01,NaN,0.903007
45464,227506,Satan Triumphant,en,[],1917-10-21,NaN,0.003503
45465,461257,Queerama,en,[],2017-06-09,NaN,0.163015

In [46]:
metadata_movies.release_date

0        1995-10-30
1        1995-12-15
2        1995-12-22
3        1995-12-22
4        1995-02-10
            ...
45461           NaN
45462    2011-11-17
45463    2003-08-01
45464    1917-10-21
45465    2017-06-09
Name: release_date, Length: 45466, dtype: object