In [2]:
import csv
import findspark
findspark.init()
import pyspark # only run after findspark.init()
from pyspark.sql import SparkSession
spark = SparkSession.builder.getOrCreate()
import pyspark.sql.functions as F
from pyspark.sql.functions import lit
from pyspark.sql import *
from pyspark.sql.types import *
import re

In [52]:
metadata_file = spark.read.format("csv").option("header", "true").load("Movies/movies_metadata.csv")
credits_file = spark.read.format("csv").option("header", "true").load("Movies/credits.csv")
babynames_national = spark.read.format("csv").option("header", "true").load("Babynames/NationalNames.csv")
babynames_state = spark.read.format("csv").option("header", "true").load("Babynames/StateNames.csv")

In [3]:
metadata_movies_start = metadata_file.select("id", "title", "original_language", "genres", "release_date", "belongs_to_collection", "popularity")

In [4]:
#Delete null values
metadata_movies_filtered = metadata_movies_start.filter(metadata_movies_start.id.isNotNull()).filter(metadata_movies_start.release_date.isNotNull()).filter(metadata_movies_start.title.isNotNull()).filter(metadata_movies_start.original_language.isNotNull()).filter(metadata_movies_start.genres.isNotNull()).filter(metadata_movies_start.popularity.isNotNull())
split_col = F.split(metadata_movies_filtered['belongs_to_collection'], ',')

#collection
metadata_movies_filtered = metadata_movies_filtered.withColumn('name_collection_name', split_col.getItem(1))
metadata_movies_filtered = metadata_movies_filtered.select('id', 'title', 'original_language', 'genres', 'release_date', 'name_collection_name', 'popularity')
split_col = F.split(metadata_movies_filtered['name_collection_name'], ':')
metadata_movies_filtered = metadata_movies_filtered.withColumn('collection_name_with', split_col.getItem(1))
split_col = F.split(metadata_movies_filtered['collection_name_with'], '\'')
metadata_movies_filtered = metadata_movies_filtered.withColumn('collection_name', split_col.getItem(1))
metadata_movies_filtered = metadata_movies_filtered.select("id", "title", "original_language", "genres", "release_date", "collection_name", "popularity")

#original_language
metadata_movies_languagefilter = metadata_movies_filtered.filter(F.col('original_language').rlike("^[a-z][a-z]$"))
metadata_movies_filtered = metadata_movies_languagefilter

#released
split_col = F.split(metadata_movies_filtered['release_date'], '-')
metadata_movies_filtered = metadata_movies_filtered.withColumn('released', split_col.getItem(0))
metadata_movies_filtered = metadata_movies_filtered.filter(F.col('released').rlike("^[0-9]{4}$"))
metadata_movies_filtered = metadata_movies_filtered.select('id', 'title', 'original_language', 'genres', 'released', 'collection_name', 'popularity')

#Popularity
metadata_movies_filtered = metadata_movies_filtered.filter(F.col('popularity').rlike("^[0-9]*\.?[0-9]+$"))

#ID
metadata_movies_filtered = metadata_movies_filtered.filter(F.col('id').rlike("^[0-9]+"))

#Title
metadata_movies_filtered = metadata_movies_filtered.filter(F.col('title').rlike("^[A-Z]|[0-9]|[a-z]"))

#Genres
split_genres = F.split(metadata_movies_filtered['genres'], '},')
metadata_movies_filtered = metadata_movies_filtered.withColumn("genresize", F.size(split_genres))

result = metadata_movies_filtered.filter(metadata_movies_filtered.genresize > 0).collect()

movies = []

for r in result:
    genres = ""
    movie_id = r[0]
    title = r[1]
    original_language = r[2]
    genres_complete = r[3]
    released = r[4]
    collection = r[5]
    popularity = r[6]
    
    if genres_complete != "[]": 
        genres_split = genres_complete.split('},')


        i = 0
        for genre in genres_split:
            genre_name = genre.split(',')[1].split(':')[1].split('\'')[1]

            genres += genre_name
            if i < len(genres_split)-1:
                genres += ", "
            i += 1
        movies.append((movie_id, title, original_language, genres, released, collection, popularity))


metadata_movies = sqlContext.createDataFrame(movies, ('movie_id', 'title', 'original_language', 'genres', 'released', 'collection', 'popularity'))

metadata_movies.show()

+--------+--------------------+-----------------+--------------------+--------+--------------------+----------+
|movie_id|               title|original_language|              genres|released|          collection|popularity|
+--------+--------------------+-----------------+--------------------+--------+--------------------+----------+
|     862|           Toy Story|               en|Animation, Comedy...|    1995|Toy Story Collection| 21.946943|
|    8844|             Jumanji|               en|Adventure, Fantas...|    1995|                null| 17.015539|
|   15602|    Grumpier Old Men|               en|     Romance, Comedy|    1995|Grumpy Old Men Co...|   11.7129|
|   11862|Father of the Bri...|               en|              Comedy|    1995|Father of the Bri...|  8.387519|
|     949|                Heat|               en|Action, Crime, Dr...|    1995|                null| 17.924927|
|   11860|             Sabrina|               en|     Comedy, Romance|    1995|                null|  6.677277|
|   45325|        Tom and Huck|               en|Action, Adventure...|    1995|                null|  2.561161|
|    9091|        Sudden Death|               en|Action, Adventure...|    1995|                null|   5.23158|
|     710|           GoldenEye|               en|Adventure, Action...|    1995|James Bond Collec...| 14.686036|
|    9087|The American Pres...|               en|Comedy, Drama, Ro...|    1995|                null|  6.318445|
|   12110|Dracula: Dead and...|               en|      Comedy, Horror|    1995|                null|  5.430331|
|   21032|               Balto|               en|Family, Animation...|    1995|    Balto Collection| 12.140733|
|   10858|               Nixon|               en|      History, Drama|    1995|                null|     5.092|
|    1408|    Cutthroat Island|               en|   Action, Adventure|    1995|                null|  7.284477|
|     524|              Casino|               en|        Drama, Crime|    1995|                null| 10.137389|
|    4584|Sense and Sensibi...|               en|      Drama, Romance|    1995|                null| 10.673167|
|       5|          Four Rooms|               en|       Crime, Comedy|    1995|                null|  9.026586|
|    9273|Ace Ventura: When...|               en|Crime, Comedy, Ad...|    1995|Ace Ventura Colle...|  8.205448|
|   11517|         Money Train|               en|Action, Comedy, C...|    1995|                null|  7.337906|
|    1710|             Copycat|               en|     Drama, Thriller|    1995|                null| 10.701801|
+--------+--------------------+-----------------+--------------------+--------+--------------------+----------+
only showing top 20 rows

In [50]:
# Credits clean up
split_cast = F.split(credits_file['cast'], '},')
credits_file = credits_file.withColumn('cast_size', F.size(split_cast))

result = credits_file.filter(credits_file.cast_size > 0).collect()

cast_row = []

for r in result:
    actor = ""
    character = ""
    gender = ""
    movie_id = r[2]
    
    cast_complete = r[0]
    
    if cast_complete != "[]":
        cast_split = cast_complete.split('},')
        
        for cast in cast_split:
            if(len(cast.split(',')) > 7):
                character = cast.split('\'')[5]
                actor = cast.split('\'')[17]
                gender = cast.split('\'')[12].split(': ')[1].split(',')[0]
                
                if(gender == "1"):
                    gender = "F"
                elif(gender == "2"):
                    gender = "M"
                else:
                    gender = "Undefined"
            
                cast_row.append((movie_id, character, actor, gender))

credits = sqlContext.createDataFrame(cast_row, ('movie_id', 'character', 'actor', 'gender'))
credits = credits.filter(F.col('movie_id').rlike("^[0-9]+"))

credits.show()

+--------+--------------------+------------------+---------+
|movie_id|           character|             actor|   gender|
+--------+--------------------+------------------+---------+
|    8844|        Alan Parrish|    Robin Williams|        M|
|    8844|Samuel Alan Parri...|     Jonathan Hyde|        M|
|    8844|        Judy Sheperd|     Kirsten Dunst|        F|
|    8844|      Peter Shepherd|    Bradley Pierce|Undefined|
|    8844|       Sarah Whittle|       Bonnie Hunt|        F|
|    8844|       Nora Shepherd|     Bebe Neuwirth|        F|
|    8844|        Carl Bentley|  David Alan Grier|        M|
|    8844|  Carol Anne Parrish| Patricia Clarkson|        F|
|    8844|Alan Parrish (young)|    Adam Hann-Byrd|Undefined|
|    8844|Sarah Whittle (yo...|  Laura Bell Bundy|        F|
|    8844|        Exterminator|       James Handy|        M|
|    8844|Mrs. Thomas the R...|    Gillian Barber|        F|
|    8844|            Benjamin|     Brandon Obray|        M|
|    8844|               Caleb|    Cyrus Thiedeke|Undefined|
|    8844|        Billy Jessup|Gary Joseph Thorup|Undefined|
|    8844|                 Cop|      Leonard Zola|Undefined|
|    8844|                 Bum|       Lloyd Berry|        M|
|    8844|        Jim Shepherd|   Malcolm Stewart|        M|
|    8844|     Martha Shepherd|   Annabel Kershaw|Undefined|
|    8844|        Gun Salesman|  Darryl Henriques|        M|
+--------+--------------------+------------------+---------+
only showing top 20 rows

In [53]:
babynames_national.show()

+---+---------+----+------+-----+
| Id|     Name|Year|Gender|Count|
+---+---------+----+------+-----+
|  1|     Mary|1880|     F| 7065|
|  2|     Anna|1880|     F| 2604|
|  3|     Emma|1880|     F| 2003|
|  4|Elizabeth|1880|     F| 1939|
|  5|   Minnie|1880|     F| 1746|
|  6| Margaret|1880|     F| 1578|
|  7|      Ida|1880|     F| 1472|
|  8|    Alice|1880|     F| 1414|
|  9|   Bertha|1880|     F| 1320|
| 10|    Sarah|1880|     F| 1288|
| 11|    Annie|1880|     F| 1258|
| 12|    Clara|1880|     F| 1226|
| 13|     Ella|1880|     F| 1156|
| 14| Florence|1880|     F| 1063|
| 15|     Cora|1880|     F| 1045|
| 16|   Martha|1880|     F| 1040|
| 17|    Laura|1880|     F| 1012|
| 18|   Nellie|1880|     F|  995|
| 19|    Grace|1880|     F|  982|
| 20|   Carrie|1880|     F|  949|
+---+---------+----+------+-----+
only showing top 20 rows

In [54]:
babynames_state.show()

+---+---------+----+------+-----+-----+
| Id|     Name|Year|Gender|State|Count|
+---+---------+----+------+-----+-----+
|  1|     Mary|1910|     F|   AK|   14|
|  2|    Annie|1910|     F|   AK|   12|
|  3|     Anna|1910|     F|   AK|   10|
|  4| Margaret|1910|     F|   AK|    8|
|  5|    Helen|1910|     F|   AK|    7|
|  6|    Elsie|1910|     F|   AK|    6|
|  7|     Lucy|1910|     F|   AK|    6|
|  8|  Dorothy|1910|     F|   AK|    5|
|  9|     Mary|1911|     F|   AK|   12|
| 10| Margaret|1911|     F|   AK|    7|
| 11|     Ruth|1911|     F|   AK|    7|
| 12|    Annie|1911|     F|   AK|    6|
| 13|Elizabeth|1911|     F|   AK|    6|
| 14|    Helen|1911|     F|   AK|    6|
| 15|     Mary|1912|     F|   AK|    9|
| 16|    Elsie|1912|     F|   AK|    8|
| 17|    Agnes|1912|     F|   AK|    7|
| 18|     Anna|1912|     F|   AK|    7|
| 19|    Helen|1912|     F|   AK|    7|
| 20|   Louise|1912|     F|   AK|    7|
+---+---------+----+------+-----+-----+
only showing top 20 rows